Package: mila_accept
Version: 0.0.0
Section: devel
Priority: optional
Architecture: amd64
Depends: curl (>= 2.3.1-6), libglib2.0-0 (>= 2.48.1-1), openssl (>= 1.0.2g-1), libjson-glib-1.0-0 (>= 1.1.2-0) 
Installed-Size: 24
Maintainer: Vitold Kapshitzer
Description: mila_accept built using CMake

